<h3>Create gear</h3>
<form class="" action="/gear" method="POST">
  Name:  <input type="text" name="name" id="name" value=""><br>
  Description: <input type="text" name="description" id="description" value=""><br>
  Type: <input type="text" name="gear_type" value=""><br>
  Value (USD$): <input type="text" name="value" value=""><br>
  Year: <input type="text" name="year" value=""><br>
  Notes: <input type="text" name="notes" value=""><br>
  <input type="submit" name="submit" id="submit" value="Create Gear">
</form>
