<p>
  Welcome, <%= @user.username %>.  Here's your gear:
</p>

<% @user.gear_items.all.each do |gear_item| %>
  <p>
    <a href="/gear/<%= gear_item.id %>"><%= gear_item.name %></a>
    <br>
    <img src="<%= gear_item.image_url %>" alt="" height="52" width="52"/><br>
  </p>
<% end %>
<br>
<a href="/gear/new">Add New Gear</a>
