<!DOCTYPE html>
<html>
<head>
  <h2>geartracker</h2>

  <% if flash.has?(:message) %>
    <h3><%= flash[:message] %></h3>
  <% end %>

</head>
<body>
  <%= yield %>
</body>
<footer>
  <a href="/gear">Home</a><br>
  <a href="/logout">Logout</a>
</footer>
</html>
